<div class="access-preview-snippet">
  <h2 class='al-show-sub-heading'>
    <%= t("arclight.views.show.sections.using_field") %>
  </h2>
  <%= materials_access %>
  <%= restrictions_field %>
  <p>
    <a
      class="smooth-scroll"
      href="#<%=t("arclight.views.show.sections.access_field").parameterize %>"
      data-turbolinks="false"
    >
      More ...
    </a>
  </p>
</div>
