<div class="access-preview-snippet">
  <h2 class='al-show-sub-heading'>
    <%= t("arclight.views.show.sections.using_field") %>
  </h2>
  <%= materials_access %>
  <dl>
    <dt><strong>Restrictions:</strong></dt>
    <dd><%= helpers.truncate_html(html_string: restrictions_value, length: 200) %></dd>
  </dl>
  <p>
    <a
      class="smooth-scroll"
      href="#<%=t("arclight.views.show.sections.access_field").parameterize %>"
      data-turbolinks="false"
    >
      More ...
    </a>
  </p>
</div>
