<%# Copied from ArcLight core in order to customize locally %>
<%# Last checked for updates:      %>
<%# ArcLight v0.3.2. %>
<%# https://github.com/projectblacklight/arclight/blob/master/app/views/shared/_header_navbar.html.erb #%>

<m-universal-header></m-universal-header>
<m-website-header name="Finding Aids" variant="dark">
  <div class="header-utilities d-flex">
    <div id="search-col">
      <%= render(blacklight_config.view_config(document_index_view_type).search_bar_component.new(
        url: search_action_url,
        advanced_search_url: search_action_url(action: 'advanced_search'),
        params: search_state.params_for_search.except(:qt),
        autocomplete_path: search_action_path(action: :suggest))) unless homepage? %>
    </div>
<!--    <a href="/">Log in</a>-->
  </div>
</m-website-header>
