@use "bootstrap-context" as bs;
@use "variables" as var;

.al-show-actions-toolbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  position: relative;
  margin-bottom: .5rem;
  border-bottom: solid 1px var.$color-teal-300;
  box-shadow: 0 3px 3px -3px rgba(23, 130, 166, 0.58);
  background-image: linear-gradient(
    to top, var.$gray-cool, var.$gray-white, var.$near-white, var.$color-background-primary
  );
  padding-top: 1rem;
  padding-bottom: 0.5rem;

  .al-request {
    margin-right: 2rem;
    margin-bottom: 0.5rem;
  }

  .btn-primary {
    margin-right: 0.5rem;
  }
}

.al-show-sub-heading {
  font-size: 1.5rem;
  text-transform: unset;
}

.al-show-sub-heading+dl>dt,
#using-these-materials dt {
  font-size: 0.875rem;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

#summary .al-show-sub-heading {
  border-top: 3px solid var.$color-neutral-400;
  padding-top: 1.5rem;
}

.access-preview-snippet .al-show-sub-heading {
  padding-top: 1.5rem;
}

.access-preview-snippet {
  float: right;
  width: 33%;
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-top: 3px;
  background: var.$facet-gray;
  padding: 0 1rem 1rem 1rem;
  border-left: 3px solid var.$gray-light-more;

  .al-show-sub-heading {
    border-top: none;
    margin-top: 0;
  }

  @include bs.media-breakpoint-down(lg) {
    width: 100%;
    border-left: none;
  }

  .um-truncated {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
  }
}

.pdf-download-button {
  font-size: 0.875rem;
}

.show-document .title-container h1 {
  font-size: 2.5rem;
  font-weight: var.$bold;
}

.al-show-actions-box svg.bi {
  color: var.$color-blue-500;
}

.collection-name-wrapper {
  margin-top: 1rem;
  position: relative;
}

.collection-name-wrapper a {
  text-decoration: none;
  font-weight: 700;
  line-height: 1.25;
  font-size: 1.35rem;
}

.al-collection-content-icon {
  font-size: 1.5rem;
}

span.breadcrumb-text {
  font-size: 1rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "\00BB";
}
