//* mlibrary palette in SCSS drawing from default umich-lib.css, project-specific colors only *//
//* Usage "border: colors.$facet-gray" *//
$color-blue-100: var(--color-blue-100);
$color-blue-200: var(--color-blue-200);
$color-blue-300: var(--color-blue-300);
$color-blue-400: var(--color-blue-400);
$color-blue-500: var(--color-blue-500);
$color-maize-100: var(--color-maize-100);
$color-maize-200: var(--color-maize-200);
$color-maize-300: var(--color-maize-300);
$color-maize-400: var(--color-maize-400);
$color-maize-500: var(--color-maize-500);
$color-neutral-100: var(--color-neutral-100);
$color-neutral-200: var(--color-neutral-200);
$color-neutral-300: var(--color-neutral-300);
$color-neutral-400: var(--color-neutral-400);
$color-neutral-500: var(--color-neutral-500);
$color-teal-100: var(--color-teal-100);
$color-teal-200: var(--color-teal-200);
$color-teal-300: var(--color-teal-300);
$color-teal-400: var(--color-teal-400);
$color-teal-500: var(--color-teal-500);
$color-orange-100: var(--color-orange-100);
$color-orange-200: var(--color-orange-200);
$color-orange-300: var(--color-orange-300);
$color-orange-400: var(--color-orange-400);
$color-orange-500: var(--color-orange-500);
$color-pink-100: var(--color-pink-100);
$color-pink-200: var(--color-pink-200);
$color-pink-300: var(--color-pink-300);
$color-pink-400: var(--color-pink-400);
$color-pink-500: var(--color-pink-500);
$color-indigo-100: var(--color-indigo-100);
$color-indigo-200: var(--color-indigo-200);
$color-indigo-300: var(--color-indigo-300);
$color-indigo-400: var(--color-indigo-400);
$color-indigo-500: var(--color-indigo-500);
$color-green-100: var(--color-green-100);
$color-green-200: var(--color-green-200);
$color-green-300: var(--color-green-300);
$color-green-400: var(--color-green-400);
$color-green-500: var(--color-green-500);

/* UM Arclight add-ons */
$text-primary: var(--color-neutral-400);
$gray-light: #676767;
$gray-light-more: #cccccc;
$facet-gray: #f5f5f5;
$main-gray: #ced4da;
/* var used in Finding Aids: set to standard white */
$color-background-primary: #ffff;
