@use "variables" as var;

#contents .documents li {
  background-color: unset !important;
}

.contents-action {
  min-width: 2rem;
  min-height: 2rem;

  i {
    font-size: 2rem;
  }
}

.nested-contents-container {
  margin-left: 3rem;
}

.contents-item-card {
  padding: 1rem;
  margin-bottom: 1rem;
}

.al-document-abstract-or-scope {
  margin-bottom: 0.5rem;
}

.blended {
  color: var.$color-neutral-100;
  opacity: 0.0;
}

#contents button[aria-expanded="true"] {
  i::before {
    content: "\F2E6" !important;
  }
}

#contents button[aria-expanded="false"] {
  i::before {
    content: "\F4FA" !important;
  }
}

.btn-outline-request {
  border: 1px solid var.$color-neutral-100;
  color: var.$color-blue-400;
}

.button-placeholder {
  padding: 0.875rem;
}

#about-this-level {
  background-color: #f5f5f5;
  border-top: 1px dotted #cccccc;
  padding: 1rem;
}

.card .al-online-content-icon .blacklight-icons svg {
  margin-top: -0.2rem;
}
